.top_visual {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden; }
  .top_visual::before {
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: transform 2.2s ease-in-out;
    -moz-transition: transform 2.2s ease-in-out;
    -o-transition: transform 2.2s ease-in-out;
    transition: transform 2.2s ease-in-out;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center; }
  .top_visual.on::before {
    -webkit-transform: scale(1);
    transform: scale(1); }
  .top_visual .txtwrap {
    position: relative;
    text-align: center;
    color: #ffffff; }
    .top_visual .txtwrap > * {
      -webkit-transition: all 0.8s ease-in-out;
      -moz-transition: all 0.8s ease-in-out;
      -o-transition: all 0.8s ease-in-out;
      transition: all 0.8s ease-in-out;
      opacity: 0; }
  .top_visual.on .txtwrap > * {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; }

.main_visual .swiper-slide {
  position: relative; }
  .main_visual .swiper-slide img {
    width: 100%; }
.main_visual .slide-cont {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #fff; }

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .main_visual::before {
    background-image: url("../images/main/mv01x2.jpg"); } }
@media screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .main_visual::before {
    background-image: url("../images/main/mv01x3.jpg"); } }
.btn-item {
  float: left;
  display: block;
  width: calc(100% / 2);
  padding: 0 10px;
  box-sizing: border-box; }

.slide-cont a {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 50px;
  background: #1c69d4;
  color: #fff;
  line-height: 50px;
  text-align: center; }

.models-list {
  display: flex;
  flex-wrap: wrap; }

.models-list > li {
  flex-basis: 50%; }

.models-list > li > a {
  display: block;
  overflow: hidden; }

.models-list > li > a img {
  transition: transform .35s;
  -webkit-transition: transform .35s; }

.models-list > li > a:hover img {
  transform: scale(1.4);
  -webkit-transform: scale(1.4); }

.car-explore {
  padding: 30px 0; }

.car-explore h3 {
  text-align: center;
  font-size: 24px;
  font-weight: bold; }

.other-links__list > li {
  position: relative; }

.other-links__list > li .link {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px;
  box-sizing: border-box;
  text-align: center; }

.other-links__list > li .link > span {
  display: table-cell;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  vertical-align: middle;
  border: 1px solid #000;
  font-size: 20px;
  font-weight: bold; }

#header.carsell .btn_menu {
  display: none; }

.fixtit {
  position: fixed;
  right: 28px;
  top: 0;
  line-height: 52px; }

.carstart {
  text-align: center;
  padding-top: 8px;
  font-size: 4.4444444444vw;
  padding-bottom: 30px; }
  .carstart li {
    position: relative;
    display: inline-block;
    padding: 0 16px; }
  .carstart li:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 1px;
    height: 16px;
    background: #1c1939; }

.cartype {
  border-bottom: 2px solid #707070;
  margin-bottom: 40px; }
  .cartype ul li {
    height: 23px;
    padding: 8px 0; }
    .cartype ul li > * {
      float: left; }
    .cartype ul li p {
      width: 70px;
      font-size: 14px;
      font-weight: 700; }
    .cartype ul li button {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      width: 60px;
      height: 23px; }
      .cartype ul li button.wblue {
        background: #0d8fcd;
        color: #fff; }
      .cartype ul li button.wgrey {
        background: #ece9e1; }

.car_selct ul li {
  padding-bottom: 20px;
  text-align: center; }
.car_selct h4 {
  font-size: 5.5555555556vw;
  text-align: left; }
.car_selct img {
  width: 94.11764705882353vw; }
.car_selct .txt p {
  display: inline-block;
  margin: 0 10px; }
.car_selct a {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: block;
  height: 45px;
  line-height: 45px;
  background: #0d8fcd;
  font-size: 17px;
  color: #fff;
  font-weight: 700;
  margin-top: 10px; }

.carcom {
  left: 30px; }
  .carcom h4 {
    font-size: 20px;
    margin-bottom: 10px; }
  .carcom p {
    font-size: 17px;
    line-height: 30px; }

.car_color strong {
  font-weight: 700;
  font-size: 17px; }

.car_color p {
  padding-top: 30px;
  border-bottom: 1px solid #333333;
  margin-bottom: 30px; }

.carcom h4 p {
  line-height: 10px; }

.car_color .exbtn {
  display: flex;
  margin: 0 auto; }

.car_color .exbtn li {
  margin-left: 3vh; }

.car_color .exbtn li button img {
  margin-bottom: 30px; }

.car_color .inbtn {
  display: flex; }

.car_color .inbtn li {
  margin-left: 3vh; }

.car_color .inbtn li button img {
  margin-bottom: 30px; }

.btn-wrap {
  background: #0D8FCD;
  display: flex;
  width: 330px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center; }

.tablist {
  font-size: 20px; }
  .tablist button {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 50%;
    height: 23px;
    margin: 0 auto; }
    .tablist button.wblue {
      background: #0d8fcd;
      color: #fff; }
    .tablist button.wgrey {
      background: #ece9e1; }

.taboption ul li {
  padding-bottom: 20px;
  text-align: center; }
.taboption a {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: block;
  height: 45px;
  line-height: 45px;
  background: #0d8fcd;
  font-size: 17px;
  color: #fff;
  font-weight: 700;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 100px; }

#carZone {
  width: 600px;
  margin: 0 auto; }

#estimate {
  width: 100%; }

#estimate th,
td {
  border: 1px solid black; }

#estimate th {
  background-color: #fff;
  color: #000; }

#carZone td {
  text-align: center; }

#tfoot {
  font-size: 15px;
  font-weight: bold; }

.final {
  text-align: center;
  padding-top: 100px; }
  .final h1 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 30px; }
  .final p {
    font-size: 17px;
    padding-bottom: 30px; }

.complete {
  font-size: 20px;
  text-align: center; }
  .complete button {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    text-align: center; }
    .complete button.wblue {
      background: #0d8fcd;
      color: #fff; }
    .complete button.wgrey {
      background: #ece9e1; }

/*# sourceMappingURL=style.css.map */
